
#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 640px) {
  #root {
    padding: 2rem;
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  #root {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  #root {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  #root {
    max-width: 1280px;
  }
}

